* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

header img {
    width: 100px;
    margin: 1em 1em 0 3em;
}

@media (min-width: 650px) {
    nav {
        display: inline;
        position: absolute;
        right: 2em;
        top: 3em;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            display: inline;
        }

        a {
            color: black;
            font-family: "Poppins", sans-serif;
            text-decoration: none;
            margin: 0 2em;
        }

        a:hover {
            opacity: 0.5;
        }
    }
}

footer {
    background-color: black;
    width: 100%;
    height: 100%;
    a {
        text-decoration: none;
        color: white;
    }
    .footer_container {
        margin: auto;
        width: 70vw;
        color: white;
        padding: 3em 0;
        font-size: 0.5em;
        text-align: center;

        a:hover {
            opacity: 0.8;

            .fa {
                transform: scale(1.3);
            }
        }

        .fa {
            margin: 0.1em 0.6em;
        }
    }
}

.backtop {
    background-color: rgb(22, 22, 22);
    color: rgb(255, 255, 255);
    z-index: 3;
    text-decoration: none;
    text-align: center;
    font-size: 0.7em;
}

.backtop:hover {
    background-color: rgb(31, 31, 31);
}

@media (min-width: 651px) {
    .container {
        background-color: rgb(247, 247, 247);
        margin: 2em auto 3em;
        width: 70vw;
        height: 80vh;
        padding: 0.2em;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 5px;
    }

    .container_aboutme {
        // background-color: white;
        grid-column: 1 /4;
        grid-row: 1/5;
        position: relative;
    }

    .container_aboutme_text {
        grid-column: 1 /4;
        grid-row: 5/7;
        padding: 1em;
        overflow: auto;

        h3 {
            margin: 0;
            font-family: "Poppins", sans-serif;
        }

        p {
            font-family: "Poppins", sans-serif;
            margin: 0;
            font-size: 0.5em;
        }
    }

    .container_work {
        grid-column: 4 /6;
        grid-row: 1/3;
        overflow: hidden;
        position: relative;
    }

    .container_gallery {
        grid-column: 4 /6;
        grid-row: 3 /5;
        overflow: hidden;
        position: relative;
    }

    .container_contact {
        grid-column: 4 /6;
        grid-row: 5 /7;
        overflow: hidden;
        position: relative;
    }
}

// ==========================================image and hover effect==================================================

.coverimg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: grayscale(50%);
}

.hovertitle {
    text-align: center;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-size: 5em;
    // font-weight: lighter;
    z-index: 2;
    margin: 0;
    padding: 0;
}

a:hover {
    .hovertitle {
        transition: 0.5s;
        opacity: 1;
        font-size: 4.5em;
    }

    .coverimg {
        filter: blur(2px) grayscale(100%);
        transition: 2s;
    }
}

// ==========================================image and hover effect==================================================

// ================================================== Small Device Screen ============================================
@media screen and (max-width: 1230px) {
    .hovertitle {
        font-size: 2.5em;
    }

    a:hover {
        .hovertitle {
            transition: 0.5s;
            opacity: 1;
            font-size: 3em;
        }
    }

    @media screen and (max-width: 650px) {
        // body{
        //     height:2000px;
        // }

        footer {
            bottom: 2px;
            width: 100%;
            height: 100%;
        }

        header img {
            width: 120px;
            margin: 1em auto;
            display: block;
        }

        nav {
            display: block;
            // position: absolute;
            // right: 2em;
            // top: 3em;
            margin: 0 auto;

            ul {
                list-style: none;
                padding: 0 1em;
                display: flex;
            }

            li {
                text-align: center;
                flex: 1;
            }

            a {
                color: black;
                font-family: "Poppins", sans-serif;
                text-decoration: none;
                font-size: 0.8em;
            }
        }

        .hovertitle {
            font-size: 3em;
        }

        .coverimg {
            height: 100%;
            width: 100%;
            object-fit: cover;
            filter: grayscale(50%);
        }

        .container {
            background-color: rgb(247, 247, 247);
            margin: 1em auto 3em;
            width: 90vw;
            height: 150vh;
            padding: 0.2em;
            display: grid;
            grid-template-rows: repeat(19, 1fr);
            grid-template-columns: (1fr);
            grid-gap: 5px;
        }

        .container_aboutme {
            grid-row: 1/10;
            grid-column: 1/-1;
            position: relative;
        }

        .container_aboutme_text {
            grid-row: 10/11;
            grid-column: 1/-1;
            padding: 1em;
            

            h3 {
                margin: 0;
                font-family: "Poppins", sans-serif;
            }

            p {
                font-family: "Poppins", sans-serif;
                margin: 0;
                font-size: 0.05em;
            }
        }

        .container_work {
            grid-row: 11/14;
            grid-column: 1/-1;
            overflow: hidden;
            position: relative;
        }

        .container_gallery {
            grid-row: 14/17;
            grid-column: 1/-1;
            overflow: hidden;
            position: relative;
        }

        .container_contact {
            grid-row: 17/20;
            grid-column: 1/-1;
            overflow: hidden;
            position: relative;
        }

        .coverimg {
            height: 100%;
            width: 100%;
            object-fit: cover;
            filter: grayscale(50%);
        }

        .hovertitle {
            text-align: center;
            opacity: 0.3;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: rgb(255, 255, 255);
            font-family: "Poppins", sans-serif;
            font-size: 3.5em;
            z-index: 2;
            margin: 0;
            padding: 0;
        }

        a:hover {
            .hovertitle {
                transition: 0.5s;
                opacity: 1;
                font-size: 3em;
            }

            .coverimg {
                filter: blur(2px) grayscale(100%);
                transition: 2s;
            }
        }
    }

    // ================================================== Device Screen ============================================
}
